<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kfs.asset.oms.domain.auth.service.UserMapper">

    <select id="findByUserId" parameterType="string" resultType="kr.co.kfs.asset.oms.domain.auth.entity.User">
        SELECT sys02_user_id as id, 
               sys02_login_id as user_id, 
               sys02_passwd as user_pw, 
               sys02_kor_nm as user_nm
        FROM sys02_user
        WHERE sys02_login_id = #{userId}
    </select>

    <update id="updatePassword">
        UPDATE sys02_user
        SET sys02_passwd = #{password}
        WHERE sys02_login_id = #{userId}
    </update>

</mapper>
